<div class="outer-container">
    <div class="barra-superior">
        <div class="search-bar">
            <input
            type="text"
            placeholder="Buscar..."
            [(ngModel)]="searchText"
            (ngModelChange)="onSearchTextChange()"
            />
        </div>
        <div class="agregar-btn">
            <button class="btn-agregar" (click)="irAAgregar()">Agregar Producto</button>
        </div>
    </div>
  
    <div class="table-container">
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Nombre del producto</th>
                        <th>
                            Descripción
                            <span style="color: rgb(43, 43, 43);"> 🛈</span>
                        </th>
                        <th>
                            Fecha de liberacion
                            <span style="color: rgb(43, 43, 43);"> 🛈</span>
                        </th>
                        <th>
                            Fecha de reestructuracion
                            <span style="color: rgb(43, 43, 43);"> 🛈</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productosFiltrados">
                        <td><img class="logo" [src]="product.logo" alt="{{ product.nombre }} logo" /></td>
                        <td>{{ product.nombre }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.fechaLib | date: 'yyyy-MM-dd' }}</td>
                        <td>{{ product.fechaRev | date: 'yyyy-MM-dd' }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btnDropdown">
                                    <span style="color: rgb(90, 90, 90);">⁝</span>
                                </button>
                                <div class="dropdown-content">
                                  <button (click)="edit(product.id)">Editar</button>
                                  <button (click)="confirmarEliminacion(product)">Eliminar</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <br />
        <div class="page-size">
            <label for="pageSize"></label>
            <select [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange()">
                <option [value]="5">5</option>
                <option [value]="10">10</option>
                <option [value]="15">15</option>
            </select>
        </div>
        <div class="total-registros">
            {{ totalFiltrados }} Resultados
        </div>
  
        <div class="paginacion">
            
            <button 
                class="nav-btn" 
                (click)="irAlInicio()" 
                [disabled]="paginaActual === 1"
                title="Ir al inicio">
                ≪
            </button>            
            
            <button 
                class="nav-btn" 
                (click)="cambiarPagina(paginaActual - 1)" 
                [disabled]="paginaActual === 1"
                title="Página anterior">
                ◂
            </button>    
            
            <button
                *ngFor="let pagina of paginasVisibles"
                (click)="cambiarPagina(pagina)"
                [class.activa]="pagina === paginaActual"
                class="page-number">
                {{ pagina }}
            </button>            
            
            <button 
                class="nav-btn" 
                (click)="cambiarPagina(paginaActual + 1)" 
                [disabled]="paginaActual === totalPaginas"
                title="Página siguiente">
                ▸
            </button> 
            
            <button 
                class="nav-btn" 
                (click)="irAlFinal()" 
                [disabled]="paginaActual === totalPaginas"
                title="Ir al final">
                ≫
            </button>
        </div>
    </div>
</div>  
  
<div class="modal-backdrop" *ngIf="mostrarModal">
    <div class="modal">
        <div style="font-size: 70px; text-align: center; color: rgb(255, 0, 0);">⚠️</div>
        <h3>¿Estás seguro de eliminar este producto?</h3>
        <p><strong>{{ productoAEliminar?.nombre }}</strong></p>
        <div class="modal-buttons">
            <button class="btn-cancelar" (click)="cancelarEliminacion()">Cancelar</button>
            <button class="btn-confirmar" (click)="eliminarConfirmado()">Confirmar</button>
        </div>
    </div>
</div>