<div class="principal">
    <div class="form">        
        <div style="text-align: left;">
            <button class="btn-volver" (click)="volver()">
                <span style="font-size: 18px; color: rgb(0, 0, 83);">⮜ Atrás</span>
            </button>
        </div>
        <h2>Editar Producto</h2>
        <form (ngSubmit)="enviarFormulario()">
            <div class="edit-form">
                <div>
                    <label for="id">ID:</label>
                    <input 
                        [(ngModel)]="product.id" 
                        type="text"
                        name="id" 
                        id="id"
                        required minlength="3" 
                        maxlength="10" 
                        readonly
                    />
                    <div *ngIf="showErrors && (product.id.length < 3 || product.id.length > 10)" style="color:red;">
                        ID debe tener entre 3 y 10 caracteres.
                    </div>
                </div>   
                
                <div>
                    <label for="nombre">Nombre:</label>
                    <input 
                        [(ngModel)]="product.nombre" 
                        type="text"
                        name="nombre" 
                        id="nombre"
                        required minlength="5" 
                        maxlength="100" 
                        [(ngModel)]="product.nombre"
                        [ngModelOptions]="{ standalone: true }"
                    />
                    <div *ngIf="showErrors && (product.nombre.length < 5 || product.nombre.length > 100)" style="color:red;">
                        Nombre debe tener entre 5 y 100 caracteres.
                    </div>
                    <div *ngIf="showErrors && !validarNombre(product.nombre)" style="color:red;">
                        Solo letras permitidas.
                    </div>
                </div>  

                <div>
                    <label for="description">Descripción:</label>
                    <input
                        [(ngModel)]="product.description" 
                        type="text"
                        name="description" 
                        id="description"
                        required minlength="10" 
                        maxlength="200">                    
                    <div *ngIf="showErrors && (product.description.length < 10 || product.description.length > 200)" style="color:red;">
                        Descripción debe tener entre 10 y 200 caracteres.
                    </div>
                    <div *ngIf="showErrors && !validarDescripcion(product.description)" style="color:red;">
                        Solo letras y números permitidos.
                    </div>
                </div>

                <div>
                    <label for="logo">Logo URL:</label>
                    <input 
                        [(ngModel)]="product.logo" 
                        type="text"
                        id="logo"
                        name="logo"         
                        required 
                    />
                    <div *ngIf="showErrors && !product.logo" style="color:red;">
                        El campo Logo no puede estar vacío.
                    </div>
                    <div *ngIf="showErrors && !logoValido" style="color:red;">
                        Ingrese una URL válida fomrato obligatorio (jpg, png, jpeg, svg)
                    </div>
                </div>

                <div>
                    <label for="fechaLib">Fecha de Liberación:</label>
                    <input 
                        type="date"
                        id="fechaLib"
                        name="fechaLib"
                        [(ngModel)]="product.fechaLib"                    
                        required 
                        (input)="onFechaLiberacionChange($event)"
                        (change)="onFechaLiberacionChange($event)"
                    />
                    <div *ngIf="showErrors && !fechaLiberacionValida" style="color:red;">
                        La fecha de liberación debe ser igual o posterior a hoy.
                    </div>
                </div>

                <div>
                    <label for="fechaRev">Fecha de Revisión (Automática):</label>
                    <input 
                        type="date"
                        id="fechaRev"
                        name="fechaRev"
                        readonly
                        [value]="fechaRevisionFormateada"
                        style="background-color: #f5f5f5; cursor: not-allowed;"
                        required 
                    />
                    <div style="color: #666; font-size: 12px; margin-top: 4px;">
                        
                    </div>
                </div>                
            </div>     
            <div class="formEdit-a">
                <button type="button" (click)="volver()" class="reset-btn">Cancelar</button>
                <button type="submit" class="enviar-btn">Guardar Cambios</button>
            </div>        
        </form>        
    </div>
</div>