
<div class="principal">
    <div class="form">
        <!-- Botón de retroceso -->
        <!-- Con ícono SVG de flecha -->
        <div style="text-align: left;">
            <button class="btn-volver" (click)="volver()">
                <span style="font-size: 20px;">⬅</span>
            </button>
        </div>
        <h2>Editar Producto</h2>
        <form (ngSubmit)="enviarFormulario()">
            <div class="edit-form">
                <div>
                    <label for="id">ID:</label>
                    <input 
                        [(ngModel)]="product.id" 
                        type="text"
                        name="id" 
                        id="id"
                        required minlength="3" 
                        maxlength="10" 
                        readonly
                    />
                    <div *ngIf="showErrors && (product.id.length < 3 || product.id.length > 10)" style="color:red;">
                        ID debe tener entre 3 y 10 caracteres.
                    </div>
                </div>   
                
                <div>
                    <label for="nombre">Nombre:</label>
                    <input 
                        [(ngModel)]="product.nombre" 
                        type="text"
                        name="nombre" 
                        id="nombre"
                        required minlength="5" 
                        maxlength="100" 
                    />
                    <div *ngIf="showErrors && (product.nombre.length < 5 || product.nombre.length > 100)" style="color:red;">
                        Nombre debe tener entre 5 y 100 caracteres.
                    </div>
                </div>  

                <div>
                    <label for="description">Descripción:</label>
                    <textarea 
                        [(ngModel)]="product.description" 
                        type="text"
                        name="description" 
                        id="description"
                        required minlength="10" 
                        maxlength="200">
                    </textarea>
                    <div *ngIf="showErrors && (product.description.length < 10 || product.description.length > 200)" style="color:red;">
                        Descripción debe tener entre 10 y 200 caracteres.
                    </div>
                </div>

                <div>
                    <label for="logo">Logo URL:</label>
                    <input 
                        [(ngModel)]="product.logo" 
                        type="text"
                        id="logo"
                        name="logo"
                        id="logo"            
                        name="logo" 
                        required 
                    />
                    <div *ngIf="showErrors && !product.logo" style="color:red;">
                        El campo Logo no puede estar vacío.
                    </div>
                </div>

                <div>
                    <label for="fechaLib">Fecha de Liberación:</label>
                    <input 
                        type="date"
                        id="fechaLib"
                        name="fechaLib"
                        [(ngModel)]="product.fechaLib" 
                        name="fechaLib"                         
                        required 
                    />
                    <div *ngIf="showErrors && !fechaLiberacionValida" style="color:red;">
                        La fecha de liberación debe ser igual o posterior a hoy.
                    </div>
                </div>

                <div>
                    <label for="fechaRev">Fecha de Revisión:</label>
                    <input 
                        [(ngModel)]="product.fechaRev" 
                        name="fechaRev" 
                        type="date" 
                        required />
                    <div *ngIf="showErrors && !fechaRevisionValida" style="color:red;">
                        La fecha de revisión debe ser exactamente un año después de la fecha de liberación.
                    </div>
                </div>                
            </div>     
            <div class="formEdit-a">
                <button type="submit"  class="reset-btn">Guardar Cambios</button>
                <button type="button" (click)="volver()"  class="enviar-btn">Cancelar</button>
            </div>        
        </form>        
    </div>
</div>
